p, li {
	font-family: PlexLight;
	padding-right: 5em;
	padding-top: 1em;
	font-size: 25px;
}

h4, h5, h6 {
	font-family: PlexSerifBold, monospace;
}

h1, h2, h3 {
	font-family: PlexSerifBold, serif;
}

h1 {
	font-size: 75px;
}

h2 {
	font-size: 38px;
}

@font-face {
	font-family: PlexSerifBold;
	src: url("Fonts/IBM_Plex_Serif/IBMPlexSerif-Bold.ttf")
}

@font-face {
	font-family: PlexLight;
	src: url("Fonts/IBM_Plex_Serif/IBMPlexSerif-ExtraLight.ttf")
}
